.item {
  background: var(--color-block);
  padding: 10px 20px;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid var(--color-gray);

  .marker {
    width: 25px;
    height: 25px;
    border: 1px solid var(--color-text);
    opacity: 0.5;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      display: none;
    }
  }

  &:first-of-type {
    border-radius: 5px 5px 0 0;
  }

  .close {
    margin-left: auto;
    cursor: pointer;
  }

  .text {
    font-size: 12px;
    opacity: 0.7;
  }

  &.checked {
    .marker {
      opacity: 1;
      border-color: transparent;
      background: rgb(87,221,255);
      background: linear-gradient(0deg, rgba(87,221,255,1) 0%, rgba(192,88,243,1) 100%);
      img {
        display: block;
      }
    }
    .text {
      text-decoration: line-through;
      opacity: 0.3;
    }
  }
}